<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/stylesheets/styleAlimentacion.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alimentacion</title>
</head>
<body>
    <header>

    </header>
    <section>
        <div class="container-alimento">
            <h2>Platillo 1</h2>
            <h3>Descripción</h3>
            <p>Hola Mundo</p>
        </div>
        <div class="container-alimento">
            <h2>Platillo 1</h2>
            <h3>Descripción</h3>
            <p>Hola Mundo</p>
        </div>
        <div class="container-alimento">
            <h2>Platillo 1</h2>
            <h3>Descripción</h3>
            <p>Hola Mundo</p>
        </div>
        <div class="container-alimento">
            <h2>Platillo 1</h2>
            <h3>Descripción</h3>
            <p>Hola Mundo</p>
        </div>
        <div class="container-alimento">
            <h2>Platillo 1</h2>
            <h3>Descripción</h3>
            <p>Hola Mundo</p>
        </div>
        <div class="container-alimento">
            <h2>Platillo 1</h2>
            <h3>Descripción</h3>
            <p>Hola Mundo</p>
        </div>
    </section>
</body>
</html>