<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Referencias</title>
</head>

<body>
    <TABLE BORDER style="margin-top:5%; margin-left: 30%;">
        <TR>
            <TD> https://www.insp.mx/avisos/5111-dia-muertos-mexicanos.html></TD>
        </TR>
        <TR>
            <TD>https://scielo.isciii.es/scielo.php?script=sci_arttext&pid=S1131-57682001000300002</TD>
        </TR>
        <TR>
            <TD>https://medlineplus.gov/spanish/heartdiseases.html</TD>
        </TR>
        <TR>
            <TD>https://www.medicalnewstoday.com/articles/es/327293#tipos</TD>
        </TR>
        <TR>
            <TD>http://scielo.sld.cu/scielo.php?pid=S0864-03002009000400004&script=sci_arttext&tlng=en</TD>
        </TR>
        <TR>
            <TD>https://www.mayoclinic.org/es-es/diseases-conditions/heart-disease/symptoms-causes/syc-20353118</TD>
        </TR>
        <TR>
            <TD>https://medlineplus.gov/spanish/ency/patientinstructions/000775.htm</TD>
        </TR>
        <TR>
            <TD>https://medlineplus.gov/spanish/howtopreventheartdisease.html</TD>
        </TR>
        <TR>
            <TD>https://www.texasheart.org/heart-health/heart-information-center/topics/factores-de-riesgo-cardiovascular/
            </TD>
        </TR>
        <TR>
            <TD>https://www.minsalud.gov.co/Paginas/Prevenir-enfermedades-cardiovasculares-es-una-decision-de-vida--.aspx
            </TD>
        </TR>
    </TABLE>

</body>

</html>