<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Referencias</title>
</head>

<body>
    <div> https://www.insp.mx/avisos/5111-dia-muertos-mexicanos.html></div>

    <div>https://scielo.isciii.es/scielo.php?script=sci_arttext&pid=S1131-57682001000300002</div>

    <div>https://medlineplus.gov/spanish/heartdiseases.html</div>

    <div>https://www.medicalnewstoday.com/articles/es/327293#tipos</div>

    <div>http://scielo.sld.cu/scielo.php?pid=S0864-03002009000400004&script=sci_arttext&tlng=en</div>

    <div>https://www.mayoclinic.org/es-es/diseases-conditions/heart-disease/symptoms-causes/syc-20353118</div>

    <div>https://medlineplus.gov/spanish/ency/patientinstructions/000775.htm</div>

    <div>https://medlineplus.gov/spanish/howtopreventheartdisease.html</div>

    <div>https://www.texasheart.org/heart-health/heart-information-center/topics/factores-de-riesgo-cardiovascular/
    </div>

    <div>https://www.minsalud.gov.co/Paginas/Prevenir-enfermedades-cardiovasculares-es-una-decision-de-vida--.aspx</div>
</body>

</html>