<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medico</title>
</head>

<body>
        <TABLE BORDER>
            <% for(Paciente of Pacientes){ %>
                    <TR onclick="window.location.href = '/medico/paciente/ <%= Paciente.idPaciente %>'"">
                        <TD>
                            <h3>

                                <%= Paciente.nombre %>
                                    <%= Paciente.apellido %>
                            </h3>
                        </TD>
                        <TD>
                            <%= Paciente.correo %>
                        </TD>
                    </TR>
                <% }; %>
        </TABLE>
</body>

</html>