<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styleLogin.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <title>Registro</title>
</head>

<body>
    <section>
        <div class="container-left">
            <div id="logo">
                <img src="http://assets.stickpng.com/images/610e9ab917344700049905ab.png" alt="">
            </div>
            <p>
                Existen muchos tipos de enfermedades cardiacas pero la causa más común es el estrechamiento o bloqueo de
                las arterias coronarias, los vasos sanguíneos que suministran sangre al propio corazón. A esto se le
                llama enfermedad de las arterias coronarias y se desarrolla lentamente con el transcurso del tiempo. Es
                la causa más importante por la cual las personas sufren infartos.

                La enfermedad cardíaca se refiere a cualquier afección que afecte al corazón. Hay muchos tipos, algunos
                de los cuales se pueden prevenir.

            </p>
        </div>
        <div class="container-rigth">
            <div class="form" id="regForm">                            
                <h1>Registro</h1>
                <form action="/registro" method="post">
                    <label for="idUser" class="margentopdif2 margenbot2">Nombre:</label>
                    <input type="text" name="Nombre" id="Nombre" class="Container">
                    <label for="idUser" class="margenbot2 margentop2">Apellido:</label>
                    <input type="text" name="Apellido" id="Apellido" class="Container">
                    <label for="email" class="margenbot2 margentop2">Correo electrónico:</label>
                    <input type="email" name="email" id="email" class="Container">
                    <label for="password" class="margenbot2 margentop2">Contraseña:</label>
                    <input type="text" name="password" id="password" class="Container">
                    <label for="password" class="margenbot2 margentop2">Confirmar Contraseña:</label>
                    <input type="text" name="confpassword" id="confpassword" class="Container">                             
                    <button class="margentop" id="BotonIniciarSesion">REGISTRARSE</button>
                    <% if(validacion==='C' ){ %>
                        <!-- Validación para saber si el inicio de sesión fue inválido -->
                        <% }else if(validacion==='I' ){ %>
                            <div class="novalido">¡Error, datos incompletos o correo no válido!</div>
                            <% }; %>                              
                </form>
                <form action="/registroMedico" method="get">
                    <input type="submit" value="Registrarse como Médico" class="margentop" id="btnRegister">
                </form>
            </div>
        </div>
    </section>
</body>

</html>