*{
    padding: 0px;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}

#logo{
    position: relative;
    margin-top: calc(50% - (308px / 2));
    margin-left: calc(50% - (616px / 2));
    width: 616px;
}

#logo>img{
    filter: invert(0.4) sepia(1) hue-rotate(305deg) saturate(5000%);
    width: 100%;   
}

p{
    color: white;
    width: 484px;
    margin-left: calc(50% - 242px);
    margin-top: 30px;
    text-align: center;
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
}

.container-left{
    width: 45%;
    height: 100%;
    background-color: #486faa;
}

.container-rigth{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 500px;
    height: 60%;
    padding: 20px;
    box-sizing: border-box;
}

#regForm{
    height: 80%;
}

#regForm2{
    height: 90%;
}

.form>h1{
    text-align: center;
    font-size: 30px;
}

.form form {
    display: flex;
    flex-direction: column;
}

.margentop{
    margin-top: 30px;
}

.margentop2{
    margin-top: 8px;
}

.margentopdif{
    margin-top: 50px;
}

.margentopdif2{
    margin-top: 25px;
}

#recordarPass{
    height: 20px;
    margin-top: 20px;
}

#cajacheck{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#labelcajacheck{
    width: 250px;
    height: 20px;
    font-size: 13px;
    line-height: 20px;
}

input{
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid;  
}

#BotonIniciarSesion{
    background-color: #ff4d4d;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}
#BotonIniciarSesion:hover, #btnRegister:hover{
    background-color: #ff8686;
}

#btnRegister{
    background-color: #ff4d4d;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

.margenbot{
    margin-bottom: 10px;
}

.margenbot2{
    margin-bottom: 5px;
}

.novalido{
    text-align: center;
    margin-top: 10px;
}

button{
    height: 30px;
}